:root {
  --blue: #0011ff;
  --text-shadow: 0 0 50px rgba(255, 255, 255, 0.589);
  --text-shadow-hover: 0 0 42px white;
  --box-shadow-hover: 0 0 30px white;
  --glass-background: rgba(90, 90, 90, 0.13);
  --glass-background-hover: rgba(90, 90, 90, 0.336);
  /* --text-color: blue; */
  /* --text-color: #06379d; */
  /* --text-color: #539bfd; */
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00000000;
  /* display: flex;
  flex-direction: column; */
  /* font-family: serif; */
}

main {
  /* display: inline-block; */
  min-height: 55vh;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

/*** Background with animated stars ***/
#twinklingStars {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--glass-background);
  /* background-color: #10111a9a; */
  align-items: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar + .container {
  padding-top: 82px;
}

.logo {
  display: flex;
  /* transition: 0.5s ease-in-out; */
  /* transition-duration: 0.6s; */
  align-items: center;
}

#logo-text {
  color: var(--blue);
  text-decoration: none;
  text-shadow: -1px 0 whitesmoke, 0 1px black, 1px 0 black, 0 -1px whitesmoke;
  /* text-shadow: var(--text-shadow); */
  transition: 0.6s;
}

@media (hover: hover) {
  /* img:hover, */
  #logo-text:hover {
    color: #fff;
    text-shadow: var(--text-shadow-hover);
  }
}

/* #world-logo {
  text-shadow: 3px solid red;
  /* text-shadow: var(--text-shadow-hover); */
/* width: 50px; */
/* height: 50px; */
/* }  */

#logo-text {
  padding-left: 0.9rem;
  text-shadow: 2px 1px 2px rgba(209, 209, 209, 0.726);
  /* font-size: 72px; */
  /* background: -webkit-linear-gradient(#0710a1, #07a16e); */
  -webkit-background-clip: text;

  /* -webkit-text-fill-color: transparent; */
}

#world-logo,
#logo-text:hover {
  color: var(--blue);
  filter: drop-shadow(2px 1px 3px rgb(255, 255, 255));
}

header {
  display: flex;
  justify-content: space-around;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.country-search-box {
  width: 14.4rem;
  border: 1px solid var(--blue);
  border-radius: 30px;
  background-color: var(--glass-background);
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  padding: 0.6rem 0.3rem;
  transition: 0.5s;
}

.country-search-box > i {
  color: white;
  padding-right: 0.4rem;
}

.country-search-box > input {
  color: whitesmoke;
  flex: 1;
  border: none;
  outline: none;
  /* font-weight: bolder; */
  padding-left: 0.7rem;
  /* outline-color: var(--blue); */
  background-color: var(--glass-background);
  text-transform: uppercase;
  /* margin-left: 1rem; */
}

.country-search-box:focus-within
/* .country-search-box:target  */ {
  /* text-shadow: var(--text-shadow-hover); */
  color: rgb(255, 255, 255);
  border: 2px solid white;
  outline: none;
  /* background-color: #fff; */
}
::placeholder {
  /* color: rgba(245, 245, 245, 0.541); */
  font-size: 1rem;
  font-weight: bold;
}
/* header,
main {
  box-sizing: border-box;
} */

#placeholderSelect {
  color: whitesmoke;
}

#regions {
  color: whitesmoke;
  /* color: rgba(245, 245, 245, 0.541); */
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #1128f8f8;
  border-radius: 30px;
  /* 
  background-color: rgba(3, 3, 3, 0);
  border: 1px solid rgba(3, 3, 3, 0); */
  padding: 0.6rem 0.7rem;
  background: var(--glass-background);
  transition: 0.5s;
  /* border: none; */
}

#regions:disabled {
  color: rgb(10, 223, 10);
}

#regions:active,
#regions:focus {
  /* font-size: 13px; */
  /* color: #fff; */
  border: 2px solid white;
  outline: none;
  border-color: #fff;
  /* background-color: #ffffff; */
}

/* option:hover {
  background: rgba(248, 19, 19, 0.171);
} */

option {
  margin-left: 1rem;
  color: black;
}

/* form {
  display: flex;
  justify-content: center;
  color: var(--blue);
} */

.svg-world {
  transform: scale(0.7);
  /* width: 60%;
  height: auto; */
  max-width: 500px;
  z-index: -1;
}

/* select:hover::after {
  color: #1fb71b;
} */

/* option:hover {
  background-color: red;
  border: solid 2px #ed1d25;
} */

#opt-all {
  background-color: rgba(255, 255, 255, 0.6);
}

#opt-americas {
  background-color: #f9a825e7;
}

#opt-africa {
  background-color: #20b71bab;
}

#opt-asia {
  background-color: #f9f525d5;
}

#opt-oceania {
  background-color: #cf40ff;
  /* color: #54311d; */
  /* color: #c033a4; */
}
/* background-color: #ab6f21; */

#opt-europe {
  background-color: #ed1d24;
}

/* click to back  home */
#back {
  padding: 1rem;
  transition: ease-in-out 0.5s;
}
#back:hover {
  color: #fff;
  text-shadow: var(--text-shadow-hover);
  /* background: var(--glass-background-hover); */
  border-radius: 5px;
}

.countryInfo {
  height: 40vh;
  border-radius: 160px;
}

.gallery {
  margin: auto;
  width: 95%;
  display: grid;
  gap: 1rem;
  justify-content: center;
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  height: 20rem;
  /* height: 10rem; */
  /* display: grid;
  grid-template-rows: 3fr 1fr 2fr;
  row-gap: 0.5rem; */
  color: rgba(204, 202, 200, 0.658);
  border: 1px solid rgba(255, 255, 255, 0.623);
  background: var(--glass-background);
  /* background: rgba(90, 90, 90, 0.336); */
  overflow: hidden;
  border-radius: 0.3rem;
  transition: 0.6s;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.267),
      rgba(0, 0, 0, 0)
    )
    1 100%;
  /* width: 350px; */
  /* margin: auto; */
}

.card h3 {
  text-align: center;
}

.card:hover {
  /* box-shadow: 0 0 11px rgba(255, 255, 255, 0.89); */
  color: #fff;
  background: var(--glass-background-hover);
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0))
    1 100%;
  cursor: pointer;
}

.flag {
  width: 100%;
  max-height: 11rem;
  margin: 0;
}

.leftDetails {
  /* max-width: 25%; */
  /* padding: 0.4rem; */
  min-width: 30%;
  height: 15vh;
  /* padding-right: 0; */
  /* padding: 0 auto; */
}

.flagInfo {
  height: 100%;
  min-width: 200px;
}

.countryInfo {
  color: white;
  background: var(--glass-background);
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  padding: 0.3rem;
  max-width: 800px;
  min-height: 300px;
}

footer {
  width: 100%;
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--glass-background);
  display: block;
  text-align: center;
  min-height: auto;
}

@media (max-width: 564px) {
  .back {
    margin-bottom: 2rem;
  }
  .leftDetails {
    text-align: center;
    padding-right: 15rem;
    /* padding: auto; */
    max-width: 25%;
    min-width: 15%;
    /* justify-content: left; */
  }
  .countryInfo {
    /* display: flex; */
    flex-direction: column;
    /* justify-content: start; */
    text-align: center;
  }

  p {
    text-align: left;
  }

  .flagInfo {
    margin-top: 0.5rem;
    /* max-width: fit-content; */
    /* width: 20vh; */
    /* text-align: center; */
  }
  .inner {
    flex-direction: row;
    justify-content: space-around;
  }
  #countryName {
    padding: auto;
  }
  .card {
    /* height: 23rem; */
    text-align: center;
    display: flex;
    flex-direction: column;

    /* padding: 1rem auto; */
    justify-content: space-between;
    height: 29rem;
  }

  /* .card img {
    max-width: 85%;
    text-align: center;
    padding: auto;
  } */
  .flag {
    max-height: 100%;
    /* height: 10rem; */
    min-width: 270px;
    max-width: 420px;
    width: 90%;
    margin: 0 auto;
  }
  svg {
    display: none;
  }
}

@media (max-width: 854px) {
  .card {
    /* height: 23rem; */
    text-align: center;
    display: flex;
    flex-direction: column;

    padding: 1rem auto;
    justify-content: space-between;
    height: 24rem;
  }
  .flag {
    height: 14rem;
    width: 92%;
    min-width: 150px;
    max-width: 320px;
    /* max-height: 11rem; */
    margin: 0 auto;
  }
}

@media (min-width: 565px) {
  .leftDetails {
    height: 40%;
  }
}
